<div class="form-login">
<form *ngIf="isNotLogged$ | async" [formGroup]="form" (ngSubmit)="onLogin()">
  <div>
    <div id="inserimento">
    <input class="inserimento" placeholder="Username" formControlName="username"/>
    <!-- <small *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
      Username è un campo obbligatori</small> -->
    </div>
      <input class="inserimento" type="password" placeholder="Password" formControlName="password"/>
    </div>
    <button id="b-login" type="submit">Login</button>
  </form>
  <button id="entra" *ngIf="isLogged$ | async" [routerLink]="['home']" >ENTRA</button>
</div>









