<form [routerLink] class="formVideogame">
    <input type="text" placeholder="Titolo" formControlName="title">
    <input type="text" placeholder="Data rilascio aaaa-mm-gg" formControlName="releaseDate">
    <input type="text" placeholder="Genere" formControlName="genre">
    <input type="text" placeholder="Prodotto da" formControlName="softwareHouse">
    <input type="text" placeholder="Pubblicato da" formControlName="publisher">
    <input type="number" placeholder="Numero giocatori" formControlName="numberOfPlayers">
    <div formArrayName="languages">
    <p>Lingua doppiaggio</p>
        <div formArrayName="voice">
            <input type="text" placeholder="eng">
            <button type="button" (click)="onClickAddVoice()">+</button>
            <button *ngFor="let _ of voiceFormArray.controls; let i=index" type="button" (click)="onRemoveVoice(i)">-</button>
        </div>
        <p>Lingua sottotitoli</p>
        <div formArrayName="text">
            <input type="text"  placeholder="ita">
            <button type="button" (click)="onClickAddText()">+</button>
            <button *ngFor="let _ of voiceFormArray.controls; let i=index" type="button" (click)="onRemoveText(i)">-</button>
        </div>
    </div>
    <div class="salva">
        <button type="button" (click)="onClickAggiungi()">SALVA</button>
    </div>
    <!-- <div id="salvaModifiche" *ngIf="isEditMode; else elseBlock">
        <button type="submit" (click)="onClickSalvaModifiche()">SALVA MODIFICHE</button>
    </div>
    <ng-template #elseBlock>
        <button type="submit" (click)="onClickAggiungi()">AGGIUNGI VIDEOGAME</button>
    </ng-template> -->
</form>
