<app-nav-bar></app-nav-bar>
<div class="as">
<button class="card" [routerLink]="['form-recensione']">+ RECENSIONE</button>
<div class="lista-recensioni">
  <div *ngFor="let r of recensioni$ |async" class="card">
    <div>
    <div>
      <h2>{{ r.title }}</h2>
      <img [src]="r.imageUrls" alt="immagine" class="img">
    </div>
    <div>
      <p>Recensore: {{ r.reviewerName }}</p>
      <p type="data"> Data; {{ r.publicationDate }}</p>
      <p>Contenuto: {{ r.content | slice : 0 : 15 }} ...</p>
      <p>Score: {{ r.score }}</p>
      <p>Gioco Recensito: {{ r.reviewedGame.name }}</p>
    </div>
      <div>
        <button type="button" (click)="onClickElimina(r._id)">ELIMINA</button>
        <button [routerLink]="['form-recensione', r._id]">MODIFICA</button> 
     </div>      
    </div>
  </div>
</div>

