<footer>
  <div class="container">
    <div class="row">
      <div class="description">
        <h2>Universo Games</h2>
        <p>Descrizione veloce di cosa sia universo games</p>
      </div>
      <div class="links">
        <h3>Usefull Links</h3>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="">Videogiochi</a></li>
          <li><a routerLink="">news</a></li>
        </ul>
      </div>
      <div class="social">
        <h3>Social</h3>
        <ul>
          <li><a routerLink="">Facebook</a></li>
          <li><a routerLink="">Instagram</a></li>
          <li><a routerLink="">Tiktok</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact Us</h3>
        <ul>
          <li><a routerLink="">+39 387 666 0000</a></li>
          <li><a routerLink="">universo.games@libero.it</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
