<footer>
  <div class="container">
    <div class="row">
      <div class="description">
        <h2>Universo Games</h2>
        <p>
          Siamo una redazione specializzata in notizie e recensioni <br />
          dei vostri videogiochi preferiti
        </p>
      </div>
      <div class="links">
        <h3>Useful Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/news">News</a></li>
          <li><a routerLink="/reviews">Recensioni</a></li>
          <li><a routerLink="/videogames">Videogiochi</a></li>
        </ul>
      </div>
      <div class="social">
        <h3>Social</h3>
        <ul>
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.instagram.com/">Instagram</a></li>
          <li><a href="https://www.tiktok.com/">Tiktok</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact Us</h3>
        <ul>
          <li>+39 387 666 0000</li>
          <li>universo.games@libero.it</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
