<ul>
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['/videogames']">Videogiochi</a></li>
    <li><a [routerLink]="['/recensioni']">Recensioni</a></li>
    <li><a [routerLink]="['/news']">News</a></li>
    <li><a [routerLink]="['/categorie']">Categorie</a></li>
    <li><a [routerLink]="['/recensioni/form-recensione']">Aggiungi Recensione</a></li>
    <li><a [routerLink]="['/videogames/formVideogame']">Aggiungi VideoGame</a></li>
    <li><a [routerLink]="['/videogames/formVideogame']">Aggiungi News</a></li>
    <li><a [routerLink]="['/videogames/formVideogame']">Aggiungi Categoria</a></li>
</ul>
