<button [routerLink]="['/recensioni']">LISTA RECENSIONI</button> 

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="input">
  <div class="form">
  <div class="datiRecensioni">
  <label>Titolo: </label>
  <input id="title" placeholder="titolo" type="text" formControlName="title"> <br>
  <label>Data Pubblicazione: </label>
  <input id="publicationDate" placeholder="xx/yy/xxxx" type="data" formControlName="publicationDate"> <br>
  <label>Conenuto: </label>
  <textarea id="content" placeholder="contenuto" type="text" formControlName="content"></textarea><br>
  <label>Score: </label>
  <input id="score" placeholder="score"  type="number" formControlName="score"><br>
  <label>Recensore: </label>
  <input id="reviewerName" placeholder="recensore" type="text" formControlName="reviewerName"><br>
  </div>
  <div formGroupName="reviewedGame">
    <label>Dati gioco</label> <br>
    <label>Id</label>
    <input type="text" placeholder="id"  id="id" formControlName="id">
    <label>Name</label>
    <input type="text" placeholder="name" id="name" formControlName="name">
  </div>
  <div formArrayName="imageUrls">
    <div *ngFor="let imageUrl of imageUrls().controls; let i = index">
      <input placeholder="https.''.jpg" [formControlName]="i" type="text">
    </div>
    <button type="button" (click)="addImageUrl()">Add Image URL</button>
  </div>
</div>
</form>
<div *ngIf="recensionedamodificare$|async; else elseBlock">
  <button (click)="onClickSalvaModifiche()">SALVA MODIFICHE</button>
</div>
<ng-template #elseBlock>
  <button (click)="onSubmit()">AGGIUNGI</button>
</ng-template>



