<h1>News</h1>
<form class="form">
  <input placeholder="Id" [(ngModel)]="_id" />
  <input placeholder="Titolo" [(ngModel)]="title" />
  <input placeholder="Categoria" [(ngModel)]="category" />
  <input placeholder="Url dell'immagine" [(ngModel)]="imageUrl" />
  <textarea placeholder="Contenuto" [(ngModel)]="content"></textarea>
  <input placeholder="Data di pubblicazione" [(ngModel)]="publicationDate" />
  <input placeholder="Autore" [(ngModel)]="authorName" />
  <div>
    <input placeholder="Tag" [(ngModel)]="tags" /> <button>Aggiungi Tag</button>
  </div>
  <button (click)="onAddNews()">Conferma News</button>
</form>
<ul>
  <li *ngFor="let news of dati$ | async">
    {{ news._id }}
    {{ news.title }}
    {{ news.category }}
    {{ news.imageUrl }}
    {{ news.content }}
    {{ news.publicationDate }}
    {{ news.authorName }}
    {{ news.tags }}
    <button (click)="onClickElimina(news._id)">Elimina</button>
  </li>
</ul>
