<nav>
  <div class="container">
    <img src="/assets/Logobig.png" class="logo" />
    <img *ngIf="homeRoute()" src="/assets/controller.png" class="image" />
    <img *ngIf="newsRoute()" src="/assets/News.png" class="image" />
    <img *ngIf="videogameRoute()" src="/assets/videogame.png" class="image" />
    <img *ngIf="reviewRoute()" src="/assets/Reviews.png" class="image" />
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/videogames">Videogiochi</a>
      <a routerLink="/news">News</a>
      <a routerLink="/reviews">Recensioni</a>
    </div>
  </div>
</nav>
