.container {
  background-color: #333;
  color: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input[type="search"] {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search button {
  border: none;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  display: inline-block;
}

.search-img {
  height: 30px;
  width: auto;
  cursor: pointer;
  transition: filter 0.2s;
}

.search-img:hover {
  filter: brightness(1.2);
}

.logo img {
  height: 60px;
  width: auto;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .nav-links {
    margin-top: 20px;
  }

  .search {
    margin-top: 20px;
  }

  .search button {
    margin-left: 0;
  }
}
