<div class="lista-news">
    <h1>NEWS</h1>
    <button [routerLink]="['formNews']" class="card">AGGIUNGI NOTIZIA</button>
    <div class="card" *ngFor="let n of news$|async">
        <h2>{{n.title}}</h2>
        <h3><p>{{n.content}}</p></h3>
        <p>Categoria: {{n.category}}</p>
        <p>Data pubblicazione: {{n.publicationDate|date}}</p>
        <p>Autore: {{n.authorName}}</p>
        <p>TAGS:</p>
        <div *ngFor="let tag of n.tags">
            <ul>
                <li>{{tag}}</li>
            </ul>
        </div>
        <div class="img-videogame" *ngIf="n.imageUrl">
            <img [src]="n.imageUrl" alt="immagine" class="img">
        </div>
        <button [routerLink]="['formNews', n._id]">MODIFICA</button>
        <button type="button" (click)="onClickElimina(n._id)">ELIMINA</button>
        <hr>
    </div>
</div>
