<div class="lista-videogames">
    <h1>VIDEOGIOCHI</h1>
    <div class="dettaglio-videogames" *ngFor="let v of videogiochi">
        <h2>{{v.title}}</h2>
            <p>Data di uscita: {{v.releaseDate}}</p>
            <p>Genere: {{v.genre}}</p>
            <p>Casa produttrice: {{v.softwareHouse}}</p>
            <p>Pubblicato da {{v.publisher}}</p>
            <p>Numero giocatori: {{v.numberOfPlayers}}</p>
            <div *ngFor="let l of v.languages">
                        <ul >
                            <li *ngFor="let voce of l.voice">
                                Lingua doppiaggio: {{voce}}
                            </li>
                        </ul>
                        <ul >
                            <li *ngFor="let text of l.text">
                                Lingua sottotitoli: {{text}}
                            </li>
                        </ul>
            </div>    
            <div class="img-videogame">
                <img [src]="v.coverImage">
            </div>
            <p>Id: {{v._id}}</p>
    </div>
    <div>
        <button [routerLink]="['formVideogame', ['_id']]">MODIFICA</button>
        <button type="button" (click)="onClickElimina('_id')">ELIMINA</button>
    </div>
</div>
