<div *ngIf="review$ | async as review" class="card-container">
  <div class="review-card">
    <div class="head">
      <p class="title">
        "{{ review.title }}" secondo {{ review.reviewerName }}
      </p>
      <p class="score" [ngStyle]="{ color: color(review.score) }">
        {{ review.score }}
      </p>
    </div>
    <div *ngFor="let i of review.imageUrls">
      <img [src]="i" class="image" />
    </div>
    <p class="pubblicazione">Pubblicazione:{{ review.publicationDate }}</p>
    <p class="subtitle">Recensione:</p>
    <p class="content">{{ review.content }}</p>
    <div class="links-container">
      <a [routerLink]="['/videogame', review.reviewedGame.id]" class="link">
        Visita: {{ review.reviewedGame.name }}
      </a>
    </div>
  </div>
</div>
